/*
  Name: Tanisha Agarwal
  CS 132 Fall 2024
  Date: December 14th, 2024
  Styles for Cart
*/

#cart-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

p {
    text-align: center;
}