/*
  Name: Tanisha Agarwal
  CS 132 Fall 2024
  Date: October 13th, 2024
  This is the attraction-styles.css file for my "Exploring Edinburgh" project.
  It helps assign an image for my page background.
*/

body {
  /* Image Source: (https://www.earthtrekkers.com/dean-village-edinburgh-itinerary/) */
  background: url("images/dean_village.jpg") no-repeat center center fixed; /* Background image */
  background-size: cover; /* Ensure the image covers the entire page */
}
